<div class="container">

    <div class="card" style="max-width: 600px; margin: 0 auto;">
        <div class="card-body">
            <h4 class="card-title">
                Translate your book!
            </h4>
            <div class="card-text">
                <form action="/translate" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="rate">Rate</label>
                                <input type="number" class="form-control" name="rate" id="rate" min="1" value="10" required>
                                
                                <small class="form-text text-muted">Translate only those words that occur less than</small>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="bookFile">Book file</label>
                                <label class="custom-file">
                                    <input type="file" id="bookFile" name="bookFile" class="custom-file-input" required>
                                    <span class="custom-file-control"></span>
                                </label>
                                <small class="form-text text-muted">Only .fb2</small>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-md-center js-on-loading">
                        <div class="col-4 text-center">
                            <button class="btn btn-primary btn-lg">
                                Translate
                            </button>
                        </div>
                    </div>

                    <div class="progress js-on-loading" style="display: none">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('form').bind('submit', function(e) {
            e.preventDefault();
            toggleLoading();
            var $form = $(this);
            var $rate = $("#rate");
            var $bookFile = $("#bookFile");
            var file = $bookFile.prop('files')[0];
            var fd = new FormData();
            fd.append('bookFile', file);
            fd.append('rate', $rate.val());

            $.ajax({
                url: $form.attr('action'),
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    downloadFile(data, file.name);
                    $bookFile.val('').trigger('change');
                    toggleLoading();
                },
                error: function(err) {
                    alert(err.responseText);
                    $bookFile.val('').trigger('change');
                    toggleLoading();
                }
            });
        })

        function downloadFile(data, filename) {
            var a = window.document.createElement('a');
            a.href = window.URL.createObjectURL(new Blob([data], {type: 'application/octet-stream'}));
            a.download = filename.replace(/(.*?)\.(\w+)$/, '$1_EnRu.$2');
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }

        function toggleLoading() {
            $('.js-on-loading').toggle();
        }

        $('.custom-file-input').bind('change', function() { 
            var $this = $(this);
            var $control = $this.next('.custom-file-control')          
            var file = $this.prop('files')[0];

            if (file) {
                $control.text(file.name);
            } else {
                $control.text('');
            }
        })
    })
</script>
